body {
    background-image: url('images/hatter.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
}

/* Naptár */

.calendar {
    width: 100%;
}

.calendar td {
    cursor: pointer;
    height: 60px;
    vertical-align: middle;
    transition: background 0.2s;
}

.calendar td:hover {
    background-color: rgba(0, 123, 255, 0.2);
    border-radius: 5px;
}

.calendar .today {
    background-color: rgba(0, 123, 255, 0.4);
    font-weight: bold;
    border-radius: 5px;
}

/* Fodrász kártyák */
.card-img-top {
    height: 150px;
    width: 150px;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card {
    border: 2px solid black;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 220px;
    width: 200px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.barber-list {
    display: flex;
    flex-direction: column;
    align-items: center;     
    justify-content: flex-start;
    gap: 20px;
    max-height: 400px;
    overflow-y: auto;
    padding: 10px 0;
}

.barber-list .card img {
    margin-top: 15px; 
}

/* Foglalás */
.booking-card {
    border: 2px solid black;
    border-radius: 10px;
    height: auto;
    min-height: 200px; 
    transition: all 0.3s ease; 
    padding: 15px;
}

.selected-day {
    background: rgba(0, 123, 255, 0.5) !important;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.selected-barber {
    border: 2px solid blue !important;
    transform: scale(1.05);
}

.disabled-day {
    background: rgba(0,0,0,0.4) !important;
    color: white !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
    border-radius: 5px;
    opacity: 0.6;
}


.time-slot-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    margin-top: 15px;
}

.time-slot-wrapper.show {
    max-height: 1000px;
    opacity: 1;
}

.time-slot-btn {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.time-slot-btn.show {
    opacity: 1;
    transform: translateY(0);
}

.time-slot-btn.active {
    background-color: #007bff;
    color: white;
}